// КОЛЬОРИ
$black:        #212121;
$gray-bg:      #e6e6e6;
$border-col:   #d1d1d1;
$white:        #ffffff;

// ШРИФТИ
$font-primary: 'Open Sans', sans-serif;

// ІНШЕ
$shadow-paper: 0 15px 35px rgba(0, 0, 0, 0.4);
$transition:   all 0.3s ease-in-out;

// ЧИСЛА (для математичних операцій у завданні 4)
$base-spacing: 10px;