.col-7 {
    // Вкладеність (Nesting)
    
    hr {
        opacity: 1;
        border-top: 1px solid $black;
        
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing * 2;
    }
    
    h6 {
        @include text-style(1rem, 700, $black);
        
        letter-spacing: 0.5px;
    }
    
    // Додатковий приклад вкладеності для дрібного тексту
    .small {
        // Можна трохи змінити колір, використовуючи функцію SCSS
        color: lighten($black, 20%); // Робить чорний на 20% світлішим (темно-сірий)
    }
}

/* Плавний перехід для стрілки */
.arrow-icon {
    transition: transform 0.3s ease;
}

/* Клас для повороту стрілки */
.rotate-180 {
    transform: rotate(180deg);
}


.is-hidden {
    display: none;
}


.toggle-header {
    cursor: pointer;
    user-select: none; /* Щоб текст не виділявся при швидкому кліку */
}
/* (Опціонально) Клас для приховування, якщо не використовуєте Bootstrap d-none */
/* .d-none { display: none !important; } - це вже є в Bootstrap */