<div class="row g-0 header-row">
    
    <div class="col-5 d-flex align-items-center position-relative overflow-hidden">
        <div class="bg-dark h-75 position-absolute start-0 decor-bar"></div>
        <div class="ps-4 ms-5 position-relative z-index-2">
            <h1 class="fw-bold display-2 text-uppercase mb-0 lh-1">Noel <br> Taylor</h1>
            <p class="text-uppercase text-dark fw-light mt-2 mb-0 fs-5 ls-1">Graphic & Web Designer</p>
        </div>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="bg-secondary bg-opacity-25 border border-5 border-dark justify-content-center align-items-center overflow-hidden header-box">
            <img src="images/photo.png" alt="Noel Taylor" class="w-100 h-100 object-fit-cover">
        </div>
    </div>

    <div class="col-4 p-0 d-flex justify-content-end align-items-center">
        <div class="bg-dark text-white p-4 d-flex flex-column justify-content-center header-box">
            <h6 class="fw-bold text-uppercase mb-4 d-flex align-items-center">
                <span class="bg-white text-dark d-flex justify-content-center align-items-center me-3 icon-box-md">
                    <i class="fa-solid fa-user"></i>
                </span>
                Contact
            </h6>
            
            <ul class="list-unstyled small text-white mb-0">
                <li class="d-flex mb-3">
                    <span class="bg-white text-dark d-flex justify-content-center align-items-center me-3 icon-box-xs">
                        <i class="fa-solid fa-phone"></i>
                    </span>
                    <div>+1-718-310-5588<br>+1-313-381-8167</div>
                </li>
                <li class="d-flex mb-3">
                    <span class="bg-white text-dark d-flex justify-content-center align-items-center me-3 icon-box-xs">
                        <i class="fa-solid fa-globe"></i>
                    </span>
                    <div>www.yourwebsite.com<br>yourinfo@email.com</div>
                </li>
                <li class="d-flex">
                    <span class="bg-white text-dark d-flex justify-content-center align-items-center me-3 icon-box-xs">
                        <i class="fa-solid fa-location-dot"></i>
                    </span>
                    <div>789 Prudence Street<br>Lincoln Park, MI</div>
                </li>
            </ul>
        </div>
    </div>
</div>