.bg-gray-custom {
    background-color: $gray-bg;

    // Вкладеність (Nesting)
    .fa-solid {
        transition: transform 0.3s;
    }

    &:hover .fa-solid {
        transform: rotate(10deg);
    }
}

// Теги мов
.language-tag {
    border: 2px solid $black;
    
    // Математика (Завдання 4): розрахунок відступів
    padding: ($base-spacing / 2) ($base-spacing - 2px); 
    
    // 2. ВИКОРИСТАННЯ МІКСІНА (text-style)
    // Замінює font-size, font-weight і color
    @include text-style(0.75rem, 700, $black);
    
    display: inline-block;
}

.icon-box-sm {
    @extend %icon-shared-style; // Наслідування стилів іконки
    width: 30px;
    height: 30px;
}

.text-justify {
    text-align: justify;
}

.skill-label {
    width: 55%;
}

.skill-track {
    width: 35%;
    height: 6px;
    padding: 1px;
}


// Стилізація стрілочки-трикутника
.arrow-icon {
    color: #999;       // Світло-сірий колір
    font-size: 0.9rem; // Трохи менший розмір
    cursor: pointer;   // Курсор-палець
    
    // Ефект при наведенні на заголовок (робимо трохи темнішою)
    .toggle-header:hover & {
        color: #666;
    }
}