<div class="col-5 bg-gray-custom p-5">
    
    <div class="mb-3">
        <h5 class="fw-bold text-uppercase mb-3 d-flex align-items-center justify-content-between toggle-header" style="cursor: pointer;">
            <div class="d-flex align-items-center">
                <span class="bg-dark text-white d-flex justify-content-center align-items-center me-3 icon-box-sm">
                    <i class="fa-solid fa-user fs-6"></i>
                </span>
                About Me
            </div>
            <i class="fa-solid fa-caret-down arrow-icon transition-transform"></i>
        </h5>
        
        <div class="toggle-content">
             <p id="about-container" class="small text-muted text-justify"></p>
        </div>
    </div>
    <hr class="border-dark opacity-100 mt-4 mb-3">

    <div class="mb-3">
        <h5 class="fw-bold text-uppercase mb-3 d-flex align-items-center justify-content-between toggle-header" style="cursor: pointer;">
            <div class="d-flex align-items-center">
                <span class="bg-dark text-white d-flex justify-content-center align-items-center me-3 icon-box-sm">
                    <i class="fa-solid fa-chart-pie fs-6"></i>
                </span>
                Skills
            </div>
            <i class="fa-solid fa-caret-down arrow-icon transition-transform"></i>
        </h5>
        <div class="toggle-content">
            <div id="skills-container" class="skills-list small fw-bold text-dark"></div>
        </div>
    </div>
    <hr class="border-dark opacity-100 mt-4 mb-3">

    <div class="mb-3">
        <h5 class="fw-bold text-uppercase mb-3 d-flex align-items-center justify-content-between toggle-header" style="cursor: pointer;">
            <div class="d-flex align-items-center">
                <span class="bg-dark text-white d-flex justify-content-center align-items-center me-3 icon-box-sm">
                    <i class="fa-solid fa-globe fs-6"></i>
                </span>
                Languages
            </div>
            <i class="fa-solid fa-caret-down arrow-icon transition-transform"></i>
        </h5>
        <div class="toggle-content">
            <div id="languages-container" class="d-flex flex-wrap gap-2"></div>
        </div>
    </div>
    <hr class="border-dark opacity-100 mt-4 mb-3">

    <div>
        <h5 class="fw-bold text-uppercase mb-3 d-flex align-items-center justify-content-between toggle-header" style="cursor: pointer;">
            <div class="d-flex align-items-center">
                <span class="bg-dark text-white d-flex justify-content-center align-items-center me-3 icon-box-sm">
                    <i class="fa-solid fa-flag-checkered fs-6"></i>
                </span>
                Hobbies
            </div>
            <i class="fa-solid fa-caret-down arrow-icon transition-transform"></i>
        </h5>
        <div class="toggle-content">
             <div id="hobbies-container" class="skills-list small fw-bold text-dark"></div>
        </div>
    </div>
    <hr class="border-dark opacity-100 mt-4 mb-3">
</div>